$main: #fff;
$accent: #829399;
$middle: #000;
$fourth: #829399;
$animate: #E8E8E8;
$graph: #f8f8f8;
$accentDim: rgba(130, 147, 153, .5);
$map: #fff;
$headerFont: 'Julius Sans One', sans-serif;

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  width: 100;
  margin: 0 auto;
}

.contain {
  max-width: 70em;
  margin: 0 auto;
}


//FOUNT IN HEADER PARTIAL
#full-length {
    padding: 3em 0;
    background: $middle;
}

#intro {
    height: 100vh;
    width: 100vw;
    background: url('../images/horseanimation.gif');
    text-align: center;
    color: #fff;
    position: relative;
    background-position: center center;
    background-attachment: fixed;
}


.content {
  font-size: 2em;
  font-family: $headerFont;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0 ,0, 0, .5);

  h2 {
    font-size: 1em;
  }

}

.cover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


p {
  width: 90%;
  margin: 0 auto;
}


//SCENE 2
#scene1 {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;


    //E6DADA

    span {
      color: #800000;
    }


    h2 {
      text-align: center;
      text-transform: uppercase;
      font-size: 5em;
      color: $middle;
      font-family: 'Fredericka the Great', cursive;

    }

}

.info {
    opacity: 0;
    transition: all 2s ease-out;
    margin: 5em 0;
    //background-color: rgba(136, 136, 136, .4);
    background-color: $fourth;
    width: 80%;
    margin: 5em auto;
    padding: 4em;

    }

.fade-in {
        opacity: 1;
      }

//SCENE 3
#scene3 {
  background-color: $animate;
}


#animate-left, #animate-right {

  display: inline-block;
  width: 40%;
  margin-left: 50px;
}


//Chart //Scene4

#scene4 {
  background-color: $graph;
  padding: 3em 0;
}

.chart-select {
  margin-bottom: 2em;
  text-align: center;

  select {
    min-width: 200px;
    height: 2.4375rem;
    padding: 0.5rem;
    border: 1px solid #cacaca;
    margin: 0 0 1rem;
    font-size: 1rem;
    font-family: inherit;
    line-height: normal;
    color: #0a0a0a;
    background-color: #fefefe;
    border-radius: 0;

        option {
        font-weight: normal;
        display: block;
        white-space: pre;
        min-height: 1.2em;
        padding: 0px 2px 1px;
        }
  }
}

.chart-select h2, #map_wrapper h2 {
    font-size: 3em;
    text-align: center;
    background-color: $accentDim;
    padding: 1em;
    font-family: $headerFont;
}

//MAP
  #scene5 {
   background-color: $map;
  }

  #map_wrapper h2 {
    background-color: $animate;
  }


    #map_wrapper {
        height: 500px;
    }

    #map_canvas {
        width: 100%;
        height: 100%;
    }

  .info_content {

    h3 {
    color: #373F51;
    font-family: $headerFont;
    }

    p {
      font-size: 1.2em;
      width: 100%;
      padding: 1em 0;
    }
  }

  .infostart {
    color: #000;
    font-size: 1.2em;
  }



//UPDATE
.add-new {
  margin: 3em 0;
  background-color: #cecece;
  padding: 3em;
}

.update-outer {
  margin: 2em 0;

  h2 {
    color: red;
  }
}

.inner {
  margin-bottom: 3em;
}

//Footer

footer {
  min-height: 3em;
  background-color: $middle;
}

//Timeline

.tl-text h2.tl-headline-title, .tl-text h2.tl-headline {
  font-family: $headerFont;
}

.tl-text p {
    color: #444;
}

.tl-text .tl-headline-date, .tl-text h3.tl-headline-date {
  color: $accent;
  font-size: 1.2em;
}





