       <div class='animates'>
        <div class='animate col-sm-6 hide'>
          <canvas id="left-pull" width="800" height="600"></canvas>
        </div>
        <div class='animate col-sm-6'>
          <canvas id="right-pull" width="800" height="600"></canvas>
        </div>
      </div>

