<div class="animates">
    <div id='animate-left' class='animate col-md-6 hidden-sm-down'>
       <canvas id="left-pull" width="800" height="600"></canvas>
    </div>
    <div id='animate-right' class='animate col-md-6 hidden-md-down'>
       <canvas id="right-pull" width="800" height="600"></canvas>
    </div>
</div>


