
    <div id='animate-left' class='animate col-xs-6'>
       <canvas id="left-pull" width="50" height="50"></canvas>
    </div>

    <div id='animate-right' class='animate col-xs-6'>
       <canvas id="right-pull" width="50" height="50"></canvas>
    </div>
