
      <div class="chart-select">
        <h2>See The Data</h2>
          <form>
            <select id='chart-select'>
              <option value="type" selected>Incident Type</option>
               <option value="date">Incident Date</option>
            </select>
          </form>
      </div>
      <div class="chart">
             <canvas id="incidentChart"></canvas>
      </div>


    <!--   <div class="left">
          <canvas id="incidentPieChart">
          </canvas>
      </div>
      <div class="right">
      <canvas id="incidentLineChart">
          </canvas> -->

       <script src="/js/custom-chart.js"></script>

