
      <div class="chart-select">
        <h2>See The Data</h2>
          <form>
            <h3>Reported Incidents between 1982 and 2015:</h3>
            <p>Incidents are not required to be reported, thus actual rates are higher than the visualized data.</p>
            <select id='chart-select'>
              <option value="type" selected>Incident Type</option>
               <option value="date">Incident Date</option>
            </select>
          </form>
      </div>
      <div class="chart">
             <canvas id="incidentChart"></canvas>
      </div>
      <script src="/js/custom-chart.js"></script>

