  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Unhitched</title>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">
  <link href="//cdn.knightlab.com/libs/timeline3/latest/css/timeline.css" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Fredericka+the+Great|Julius+Sans+One" rel="stylesheet">

 <!--  <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css"> -->
  <link type="text/css" rel="stylesheet" href="/css/app.css">
  <script type="text/javascript" src="//code.jquery.com/jquery-latest.min.js"></script>
  <!-- <script src="//code.jquery.com/jquery-3.1.0.js"></script> -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
  <script src="//cdn.knightlab.com/libs/timeline3/latest/js/timeline.js"></script>
  <script src="/js/Chart.js"></script>
  <script src="/js/main.js"></script>
