
      <div class="info row">
        <div class="col-xs-12">
        <h2>68 Medallions</h2>
        </div>
      </div>

      <div class="info row">
      <div class="col-xs-12">
        <h2>220 Horses</h2>
        </div>
      </div>

      <div class="info row">
      <div class="col-xs-12">
         <h2>Cash Business</h2>
         </div>
      </div>

      <div class="info row">
      <div class="col-xs-12">
        <h2>Estimated Annual Revenue: <span>15 Million</span></h2>
        </div>
      </div>
