<div class="cover" data-background-file="templates/history.jpg">
    <h2>Wherever man has left his footprints in the long ascent from barbarism to civilization, we find the hoof print of a horse beside it.</h2>
    <h4>John Trotwood Moore</h4>
</div>
