      <div class="chart">
          <h2>Choose a selection</h2>
            <form>
              <select id='chart-select'>
                  <option value="type" selected>Incident Type</option>
                  <option value="date">Incident Date</option>
                  <option value="fatal">Horse Fatality</option>
             </select>
            </form>
          <canvas id="incidentChart">
          </canvas>
      </div>
       <script src="/js/custom-chart.js"></script>

      <div id="map_wrapper">
        <div id="map_canvas" class="mapping"></div>
      </div>
