<div id='animate-left' class='animate'>
        <canvas id="left-pull" width="800" height="600"></canvas>
      </div>
      <div id='animate-right' class='animate'>
        <canvas id="right-pull" width="800" height="600"></canvas>
      </div>

      <div class="info">
        <h2>68 Medallions</h2>
      </div>

      <div class="info">
        <h2>60 Owners</h2>
      </div>

      <div class="info">
        <h2>220 Horses</h2>
      </div>

      <div class="info">
        <h2>160 Full Time Drivers</h2>
      </div>

      <div class="info">
        <h2>Represented by Teamsters union</h2>
      </div>

      <div class="info">
         <h2>CASH BUSINESS</h2>
      </div>

      <div class="info">
        <h2>Estimated Annual Revenue: 15 Million</h2>
      </div>
