
<div id="intro">
    <div class="content">
      <h1>"Many people have sighed for the 'good old days' and regretted the 'passing of the horse'. But today, when only those who like horses own them, it is a far better time for horses."</h1>
      <h2>C.W. Anderson</h2>
    </div>
  </div>
