<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
</head>

<body>

  <header id="top" class="row">
   <!--  LANDING -->
      <% include partials/intro %>
  </header>

  <div id="full-length">

      <div id="scene1" class="scene row">

          <% include partials/parallax_info %>
      </div>


      <div id="scene2" class="scene row">

        <% include partials/timeline %>
      </div>

      <div id="scene3" class="scene row">

        <% include partials/animate %>
      </div>

      <div id="scene4" class="scene row">

        <% include partials/chart %>
      </div>


      <div id="scene5" class="scene row">

        <% include partials/map %>
      </div>


</div>
<footer class="row">

</footer>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= googleKey %>&callback=getThatMap" type="text/javascript"></script>

</body>
</html>
