<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
</head>

<body>

  <header>
   <!--  LANDING -->
      <% include partials/scene_0 %>
  </header>



  <div id="scene1">
    <!-- HISTORY BOOK -->
    <% include partials/scene_1 %>
  </div>


  <div id="scene2"">

      <div class="info">
        <h2>68 Medallions</h2>
      </div>

      <div class="info">
        <h2>60 Owners</h2>
      </div>

      <div class="info">
        <h2>220 Horses</h2>
      </div>

      <div class="info">
        <h2>160 Full Time Drivers</h2>
      </div>

      <div class="info">
        <h2>Represented by Teamsters union</h2>
      </div>

      <div class="info">
         <h2>CASH BUSINESS</h2>
      </div>

      <div class="info">
        <h2>Estimated Annual Revenue: 15 Million</h2>
      </div>

  </div>

  <div id="scene3">
  </div>



    <div id='timeline-embed' style="width: 100%; height: 600px"></div>
      <script type="text/javascript">
        var timeline_json = 'map/timeline'; // you write this part
        // two arguments: the id of the Timeline container (no '#')
        // and the JSON object or an instance of TL.TimelineConfig created from
        // a suitable JSON object
        window.timeline = new TL.Timeline('timeline-embed', timeline_json);
      </script>



  <div class="chart">
    <h2>Choose a selection</h2>
      <form>
        <select id='chart-select'>
            <option value="type" selected>Incident Type</option>
            <option value="date">Incident Date</option>
            <option value="fatal">Horse Fatality</option>
       </select>
      </form>
  <canvas id="incidentChart">
  </canvas>
  </div>
  <script src="js/custom-chart.js"></script>

  <div id="map_wrapper">
    <div id="map_canvas" class="mapping"></div>
</div>


  <div id="scene2">
  </div>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= googleKey %>&callback=getThatMap" type="text/javascript"></script>
  <script src="js/build-map.js"></script>
</body>
</html>
