<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
</head>

<body>

  <header id="top">
   <!--  LANDING -->
      <% include partials/scene_0 %>
  </header>

  <div id="full-length">

      <div id="scene1" class="scene">
        <!-- HISTORY BOOK -->
        <% include partials/scene_1 %>
      </div>


      <div id="scene2" class="scene">

        <% include partials/scene_2 %>

      </div>

      <div id="scene3" class="scene">
        <!-- TIMELINE -->
        <% include partials/scene_3 %>
      </div>

      <div id="scene4" class="scene">
        <!-- CHART -->
        <% include partials/scene_4 %>
      </div>




 <!-- END -->
  </div>



  <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= googleKey %>&callback=getThatMap" type="text/javascript"></script>
  <script src="/js/build-map.js"></script>
</body>
</html>
